.select{
    max-width: 100%;
    width: 600px;
    background-color: #dae0e5;
}
.input, .input-focused{
    max-width: 100%;
    width: 600px;
    border-radius: 5px;
    margin: 0 5px 2px;
    padding: 0 5px;
}
.input{
    border: 1px solid #6c757d;
}
.input-focused {
    box-shadow: 0 0 5px 1px #007BFF;
}
